.navigation {
    background-color: #1d1d1e;
    padding: 30px;
}

ul {
    margin: 0;
}

a {
    padding: 6px;
    margin: 0 6px;
    text-decoration: none;
    color: white;
}

a.active {
    border-bottom: 3px solid #dcb450;

}